/* various theming */
$dark-solid-color: black;
$translucent-dark: rgba(0, 0, 0, 0.5);

$light-solid-color: white;
$translucent-light: rgba(255, 255, 255, 0.5);

$standard-border-color: #202020;

/* header/footer */
$header-gradient: linear-gradient(to bottom, #202020, #050505);
$footer-gradient: linear-gradient(to top, #202020, #050505);

/* content */
$default-content-transition: background-color 0.3s, transform 0.6s, width 0.6s, left 0.6s, opacity 0.3s;
$mobile-content-transition: background-color 0.3s, transform 0.6s, left 0.6s, opacity 0.3s;

/* profile card */
$card-gradient: linear-gradient(to bottom, #050505, black);

/* dropdowns */
$dropdown-gradient: linear-gradient(to bottom, #151515, #040404);

/* mixins */
@mixin icon-config($icon-url: none, $icon-size: 100%) {
    background-repeat: no-repeat;
    background-position: center;
    background-image: $icon-url;
    background-size: $icon-size;
}

/* animations */
@keyframes loading_image {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* media frame animation */
$loading_image_animation: 1.5s linear 0s infinite normal none running loading_image;

/* other */
$white-to-red-filter: brightness(0) saturate(100%) invert(34%) sepia(93%) saturate(5001%) hue-rotate(346deg) brightness(97%) contrast(86%);
$white-to-blue-filter: brightness(0) saturate(100%) invert(44%) sepia(23%) saturate(6242%) hue-rotate(202deg) brightness(94%) contrast(96%);
$white-to-pink-filter: brightness(0) saturate(100%) invert(71%) sepia(18%) saturate(799%) hue-rotate(305deg) brightness(114%) contrast(108%);
$white-to-purple-filter: brightness(0) saturate(100%) invert(79%) sepia(29%) saturate(5413%) hue-rotate(248deg) brightness(89%) contrast(92%);