@use 'vars';

/* content layout */
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    transition: vars.$default-content-transition;

    /* profile card */
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: fit-content;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid vars.$standard-border-color;
        transition: border 0.3s;

        .card_header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 85px;
            gap: 10px;

            .icon {
                @include vars.icon-config(var(--image), 100%);
                aspect-ratio: 1/1;
                height: 100%;
                flex: 0 0 auto;
                border-radius: 50%;
            }

            .name_holder {
                display: flex;
                flex-direction: column;
                height: fit-content;

                span {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: fit-content;
                    transition: color 0.3s, text-shadow 0.3s;

                    &.username {
                        color: white;
                        font-weight: 700;
                        font-size: 1.8rem;
                    }

                    &.bio {
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 1.4rem;
                    }
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: vars.$card-gradient;
            z-index: -1;
            transition: filter 0.3s;
        }
    }

    /* social row */
    .social_row {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: fit-content;
        height: 40px;

        a {
            position: relative;
            display: block;
            aspect-ratio: 1/1;
            height: 100%;
            border-radius: 8px;
            cursor: pointer;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border-radius: 8px;
            }

            &::before {
                background: var(--gradient);
            }

            &::after {
                @include vars.icon-config(var(--image), var(--size));
                border: 2px solid vars.$translucent-dark;
                transition: border 0.15s;
            }

            &:hover::after {
                border: 2px solid white;
            }
        }
    }

    /* web links in card */
    .website {
        position: relative;
        display: flex;
        gap: 8px;
        height: 60px;
        padding: 8px;
        padding-right: 12px;
        box-sizing: border-box;
        border-radius: 8px;
        text-decoration: none;
        outline: none;
        cursor: pointer;

        .icon {
            @include vars.icon-config(var(--icon), 100%);
            aspect-ratio: 1/1;
            height: calc(100% - 8px);
            margin: 4px;
            flex: 0 0 auto;
            border-radius: 50%;
        }

        .text_holder {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;

            span {
                display: flex;
                align-items: center;
                height: fit-content;
            }

            span.site_name {
                color: white;
                font-weight: 700;
            }

            span.site_bio {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        &.hide {
            display: none;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            box-sizing: border-box;
        }

        &::before {
            background: var(--gradient);
            z-index: -1;
        }

        &::after {
            border: 2px solid vars.$translucent-dark;
            z-index: 1;
            transition: border 0.15s;
        }

        &.focus::after,
        &:hover::after {
            border: 2px solid white;
        }
    }

    /* photo filters */
    .filter_holder {
        position: relative;
        display: flex;
        gap: 10px;
        width: calc(75% + 20px);
        margin-left: auto;
        margin-right: auto;
        height: 35px;
        overflow-y: visible;
        order: 1;
        transition: filter 0.3s, padding-bottom 0.15s;
        z-index: 10;

        .dropdown {
            min-width: fit-content;

            .option {
                gap: 6px;

                &::before {
                    @include vars.icon-config;
                    height: 100%;
                    aspect-ratio: 1/1;
                }

                &.primary::before {
                    content: '';
                }
            }

            &.empty {
                background: vars.$dropdown-gradient;

                .option:hover {
                    background: vars.$dropdown-gradient;
                }
            }

            &.location {
                .option.primary::before {
                    @include vars.icon-config(url(../icon/location.svg), 80%);
                }
            }

            &.person {
                .option.primary::before {
                    @include vars.icon-config(url(../icon/people.svg), 100%)
                }
            }

            &.time {
                .option.primary::before {
                    @include vars.icon-config(url(../icon/day.svg), 100%);
                }
            }
        }

        span.results {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 16px;
            padding-right: 16px;
            left: 0;
            bottom: 0;
            color: white;
            font-weight: 700;
            opacity: 1;
            background: vars.$dropdown-gradient;
            border-radius: 8px;
            box-sizing: border-box;
            color: rgba(255, 255, 255, 0.7);
            font-size: 1rem;
            transition: opacity 0.3s;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.1);
            }
        }

        &.hide_results {
            span.results {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}

/* light theme */
body.light {
    .content {
        background-color: white;

        .card {
            border-bottom: 1px solid #DFDFDF;

            .card_header {
                .name_holder {
                    span {
                        color: black;
                        text-shadow: 2px 2px 4px white;
                    }
                }
            }
        }

        .social_row {
            a {
                &::after {
                    border: 2px solid vars.$translucent-light;
                }

                &:hover::after {
                    border: 2px solid vars.$translucent-dark;
                }
            }
        }

        .card::before {
            filter: invert(1);
        }

        .filter_holder {
            filter: invert(1);
        }
    }
}

/* mobile */
@media screen and (max-width: 1228px) {
    .content {
        .filter_holder {
            padding-bottom: 40px;

            span.results {
                position: absolute;
                justify-content: center;
                width: 100%;
                height: 30px;
                font-size: 0.85rem;
            }

            &.hide_results {
                padding-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1028px) {
    .content {
        .filter_holder {
            width: calc(75% + 20px);
            height: fit-content;
            flex-wrap: wrap;
            min-height: 80px;

            .dropdown {
                position: absolute;
                width: calc(50% - 5px);

                /* this was a last ditch effort in order to get this to work */
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }

                &:nth-child(2) {
                    top: 0;
                    right: 0;
                }

                &:nth-child(3) {
                    top: 45px;
                    left: 0;
                }

                &:nth-child(4) {
                    top: 45px;
                    right: 0;
                }

                &.open {
                    z-index: 10;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .content {
        transition: vars.$mobile-content-transition;

        .card {
            .card_header {
                .name_holder {
                    span.bio {
                        font-size: 1.1rem;
                    }
                }
            }

        }

        .filter_holder {
            width: calc(100% - 10px);

            .dropdown {
                max-width: calc(50% - 5px);
            }
        }
    }
}