@use 'vars';

body {
    .main_photo_holder {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s, transform 0.6s;

        .menu {
            position: relative;
            display: flex;
            aspect-ratio: 8.5/5;
            height: calc(100vh - 20px);
            overflow: hidden;
            border-radius: 12px;

            figure.main {
                aspect-ratio: 1/1;
                height: 100%;
                border-radius: 0;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                cursor: unset;

                .info {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 4px;
                    padding: 4px;
                    padding-right: 8px;
                    width: fit-content;
                    height: fit-content;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-top-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    color: white;
                    font-weight: 700;
                    font-size: 1rem;

                    span {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        &.hide {
                            display: none;
                        }

                        &::before {
                            @include vars.icon-config;
                            content: '';
                            display: block;
                            height: 1.35rem;
                            width: 1.35rem;
                        }

                        &.day::before {
                            @include vars.icon-config(url(../icon/day.svg), 100%);
                        }

                        &.people::before {
                            @include vars.icon-config(url(../icon/people.svg), 100%);
                        }
                    }
                }

                img {
                    border-radius: 0;
                    transition: left 0.5s;
                }

                button {
                    &.close {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 40px;
                        height: 40px;
                        margin: 4px;
                        border-bottom-left-radius: 8px;
                        border: 0;
                        background-color: rgba(0, 0, 0, 0.5);
                        cursor: pointer;

                        &::after {
                            @include vars.icon-config(url(../icon/exit.svg), 60%);
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &.nav {
                        width: 60px;
                        height: 60px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: rgba(0, 0, 0, 0.5);
                        box-sizing: border-box;
                        border: 0;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: background-color 0.15s, opacity 0.15s;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.6);
                        }

                        &.left {
                            left: 20px;

                            &::after {
                                transform: translate(-50%, -50%) rotate(180deg);
                            }
                        }

                        &.right {
                            right: 20px;
                        }

                        &::after {
                            @include vars.icon-config(url(../icon/arrow.svg), 100%);
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            width: 85%;
                            height: 85%;
                        }
                    }
                }

                figcaption {
                    display: none;
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }

                &.hide_left {
                    button.nav.left {
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                &.hide_right {
                    button.nav.right {
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                &::after {
                    border-radius: 0;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }

                &:hover::after {
                    border: 4px solid rgba(0, 0, 0, 0.5);
                }
            }

            aside {
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 0;
                min-height: 0;
                height: 100%;
                overflow: hidden;

                .header {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: fit-content;
                    box-sizing: border-box;
                    border-top-right-radius: 12px;
                    order: -1;
                    background: vars.$dropdown-gradient;
                    transition: filter 0.3s;

                    .row {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        align-items: center;
                        gap: 4px;
                        height: fit-content;
                        padding: 10px;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        font-size: 14px;
                        font-weight: 700;
                        border-bottom: 1px solid #202020;
                        color: rgba(255, 255, 255, 0.6);

                        span {
                            display: flex;
                            gap: 2px;
                            align-items: center;
                            width: fit-content;
                            flex: unset;
                            color: rgba(255, 255, 255, 0.6);

                            &::before {
                                @include vars.icon-config;
                                content: '';
                                display: block;
                                aspect-ratio: 1/1;
                                height: 100%;
                                min-height: 20px;
                                opacity: 0.6;
                                order: -1;
                            }

                            &.hide {
                                display: none;
                            }
                        }
                    }

                    .row {
                        &.main {
                            height: 32px;
                            gap: 6px;
                            padding: 8px;

                            span {
                                flex: 1;
                                white-space: nowrap;
                                gap: 4px;
                                font-size: 1.2rem;
                                font-weight: 700;
                                order: -1;
                                color: white;

                                &::before {
                                    @include vars.icon-config(url(../icon/location.svg), 80%);
                                    height: 26px;
                                    width: 26px;
                                    opacity: 1;
                                }
                            }
                        }

                        &.camera {
                            span {
                                &.name::before {
                                    @include vars.icon-config(url(../icon/camera.svg), 80%);
                                }

                                &.megapixels::before {
                                    @include vars.icon-config(url(../icon/image.svg), 66%);
                                }
                            }
                        }

                        &.hide,
                        &:empty {
                            display: none;
                        }
                    }

                    button {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        border: 0;
                        padding-left: 12px;
                        padding-right: 12px;
                        background-color: rgba(0, 0, 0, 0);
                        color: white;
                        font-weight: 700;
                        font-size: 1.1rem;
                        z-index: 1;
                        cursor: pointer;
                        transition: color 0.15s;

                        &:hover {
                            color: white;
                        }

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            border-radius: 8px;
                        }

                        &::before {
                            background: linear-gradient(to bottom, #272727, #050505);
                            z-index: -1;
                            transition: filter 0.15s;
                        }

                        &:hover::before {
                            filter: brightness(0.8);
                        }

                        &:hover::after {
                            opacity: 1;
                        }

                        &::after {
                            border: 1px solid rgba(255, 255, 255, 0.125);
                            background-color: rgba(0, 0, 0, 0);
                        }

                        &.close {
                            aspect-ratio: 1/1;
                            padding: 0;

                            &::after {
                                @include vars.icon-config(url(../icon/exit.svg), 65%);
                                transition: opacity 0.15s;
                            }
                        }

                        &.share {
                            width: fit-content;
                        }
                    }
                }

                .grid_holder {
                    width: 100%;
                    height: calc(100% - 60px);
                    min-width: 0;
                    overflow-y: auto;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, #151515, #050505);
                transition: filter 0.3s;
            }
        }

        &.show {
            opacity: 1;
            pointer-events: unset;
        }
    }
}

/* light theme */
body.light {
    .main_photo_holder {
        .menu {
            aside {
                .header {
                    filter: invert(1);
                }

                .photo_row {
                    .row_header {
                        filter: invert(1);
                    }
                }
            }

            &::before {
                filter: invert(1);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        .main_photo_holder {
            width: 100vw;
            height: calc(100dvh - 50px);
            top: 50px;
            z-index: 30;
            opacity: 1;
            transform: translateY(100%);

            .menu {
                display: block;
                overflow-y: auto;
                scrollbar-width: none;
                width: 100%;
                height: 100%;
                border-radius: 0;

                figure.main {
                    width: 100vw;
                    height: 100vw;
                    border-radius: 0;

                    img {
                        border-radius: 0;
                    }

                    .info {
                        border-top-left-radius: 0;
                    }

                    button {
                        &.close {
                            display: block;
                        }

                        &.nav {
                            width: 50px;
                            height: 50px;
                        }
                    }

                    &::after {
                        border-radius: 0;
                    }
                }

                aside {
                    display: block;
                    flex: unset;
                    height: fit-content;
                    padding-bottom: 10px;

                    .header {
                        border-radius: 0;

                        button.close {
                            display: none;
                        }
                    }

                    .grid_holder {
                        height: fit-content;
                        overflow: hidden;
                    }
                }

                &::before {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            
            &.show {
                opacity: 1;
                transform: unset;
            }
        }
    }
}