@use 'vars';

/* alters leaflet given css */
/* uses standard css as i do not feel like decyphering the entire
leaflet structure at this time */

.page.maps {
    button {
        &.satellite {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 7px;
            margin: 10px;
            padding-left: 6px;
            padding-right: 6px;
            top: 0;
            right: 0;
            width: fit-content;
            height: 30px;
            z-index: 999;
            border: 0;
            border-radius: 4px;
            background: linear-gradient(to bottom, #303030, #151515);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
            color: white;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            opacity: 0.9;
            transition: opacity 0.15s;

            &::before {
                @include vars.icon-config(url(../icon/map.svg), 90%);
                content: '';
                height: 24px;
                width: 24px;
            }

            &.vector::before {
                background-image: url(../icon/satellite.svg);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                box-sizing: border-box;
                border-radius: 4px;
                border: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 500;
        pointer-events: none;
        border: 4px solid rgba(0, 0, 0, 0.5);
    }

    &:not(.show) {
        &::after {
            pointer-events: none;
        }
    }
}

body.light .leaflet-container {
    background-color: white;
}

.leaflet-container {
    background-color: black;

    .leaflet-control-attribution {
        margin: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        font-weight: 700;
        color: white;
    }
}

.leaflet-bar {
    opacity: 0.9;
    transition: opacity 0.15s;

    &:hover {
        opacity: 1;
    }

    a {
        background: linear-gradient(to bottom, #303030, #151515);
        color: white;
        border-bottom: rgba(255, 255, 255, 0.7);
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.8);
        }
    }
}

.leaflet-container .leaflet-control-attribution a {
    color: white;
}


.marker {
    position: relative;
    transition: filter 0.15s;
    margin-top: -37.5px !important; /* make this dynamic wth a var if this changes */

    &.hide {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        z-index: -1;
        transition: background-color 0.15s, transform 0.15s;
    }

    &:hover {
        z-index: 999999999999999 !important;
        /* this is jank */

        &::before {
            background-color: white;
        }

        img,
        &::before {
            transform: scale(140%);
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        transition: transform 0.15s;
    }
}

/* photo clusters, id like to style this further later on */
.marker-cluster {
    color: white;

    div {
        color: white;
        font-weight: 700;
        transition: color 0.15s;
    }
}

body.light {
    .marker-cluster {
        div {
            color: black;
        }
    }
}