@use 'vars';

body {
    .page {
        position: fixed;
        left: 300px;
        top: 50px;
        width: calc(100vw - 300px);
        height: calc(100vh - 50px);
        opacity: 0;
        pointer-events: none;
        transition: vars.$default-content-transition;

        &.show {
            opacity: 1;
            pointer-events: unset;
        }
    }

    &.shift {
        .page {
            width: 100vw;
            left: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        .page {
            left: 0;
            width: 100vw;
            height: calc(100dvh - 100px);
            transition: vars.$mobile-content-transition;
        }

        &.shift {
            .page {
                transform: translateX(100%);
            }
        }
    }
}