.page {
    position: fixed;
    left: 300px;
    top: 50px;
    width: calc(100vw - 300px);
    height: calc(100vh - 50px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s, width 0.3s, left 0.3s, opacity 0.3s;
}

.page.show {
    opacity: 1;
    pointer-events: unset;
}

body.shift .page {
    width: 100vw;
    left: 0;
}

@media screen and (max-width: 767px) {
    .page {
        left: 0;
        width: 100vw;
        height: calc(100dvh - 100px);
    }

    body.shift .page {
        transform: translateX(100%);
    }
}